header{
    display: flex;
    flex-direction: row;
    height:50px;
    background: rgb(10, 30, 56);
    font-size: 20pt;
    color: red;
    height: 200px;
    margin-bottom: 1%;
}
nav{
    background-color: lightgreen;
    height: 200px;
    margin-bottom: 1%;
}
main{
    display: flex;
    flex-direction: row;
}

article{
    background-color: brown;
    width: 70%;
    height: 250px;
    margin-bottom: 1%;
    margin-right: 1%;

}
aside{
    margin-left: 0%;
    background-color: rgb(66, 104, 124);
    height: 250px;
    width: 29%;
    margin-bottom: 1%;
}
s
footer{
    background-color: gold;
    height: 200px;
}